body
{
    background-color: #f7f7f7;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}
nav
{
    font-family: 'Suez One', serif; !important
    border-radius: 0; !important
}

.navbar-inverse
{
    background: #f7f7f7;
    border: 0;
}

.navbar-inverse .navbar-toggle
{
    border: 0;
}
.navbar-inverse .navbar-nav>li>a
{
text-align: center;
}
.navbar-inverse .navbar-nav>li>a
{
text-align: center;
}
.no_padding
{
  padding:0;
}

.bold
{
  font-weight: bold;
}
a{
  color: inherit;
}

a:visited{
  text-decoration: none;
}

a:active{
  text-decoration: none;
}

a:focus{
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: none;
  color: inherit;
}
ul
{
  list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0;
}

.row
{
  margin: 0;
}

.text
{
    padding: 0.4em;
}
.title
{
    text-decoration: underline;
    text-align: center;
}
.image-center
{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
#page_one, #page_two, #page_three, #page_four, #page_five, #page_six, #page_seven
{
    padding: 75px 0;
}

h1, h2, h3, h4, h5
{
  font-family: 'Suez One', serif;
  letter-spacing: .1em;
  margin: 0;
  margin-bottom: .5em;
  color: #333;
}


.page-logo
{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*PAGE ONE*/

#p1
{
  padding: 50px 0 0;
}

svg text { 
    font-family: 'Suez One', serif;
    font-weight:bold; 
    font-style:normal; 
}

.p1-title
{
  font-size: 5em;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
}

.large-logo
{
  width:75%;
  margin-left:12.5%;
}


/*PAGE TWO CSS*/

#p2
{
  height: 100vh;
  padding: 50px 0 0;
  background: #fff;
}

.p2-content
{
  transform: translate(0, 50%)
}

.p2-title
{
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 37.5px;
}

.page-header-box
{
  text-align: left;
}

.defence-txt
{
  font-size: 1.25em;
  text-align: center;
}

/*PAGE THREE CSS*/

#p3{
  padding: 50px 0 0;
}


.p3-text
{
    font-size: 1.25em;
}

.p3-title
{
  font-size: 3em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 37.5px;
}

.prof-headings
{
  margin-left: .5em;
}

.instructor-prof-img{
  border-radius: 1em;
  border: solid #fff 5px;
}
/*PAGE 4 CSS*/
#p4
{
  padding: 50px 0 0;
}

.p4-title
{
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 37.5px;
  color: #f7f7f7;
}

.p4-text
{
  font-size: 1.25em;
}


.p4-cards
{
  background: #333;
  color: #f7f7f7;
  padding: 2.5em;
  letter-spacing: .1em;
  font-size: 1.1em;
}

/*PAGE 5 CSS*/
#p5
{
  padding: 50px 0 0;
  background: #fff;
}

.p5-title
{
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 37.5px;
}

.p5-text
{
    font-size: 1.25em;
}

/* contact CSS */
#page_eight
{
    width: 100%;
    float: left;
}

.pipe
{
    text-align: center;
    font-size: 3em;
    color: #000;
    opacity: .2;
}


#p6
{
  padding: 50px 0 0;
}

.p6-title
{
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 37.5px;
  text-align: center;
}

.p6-text
{
  font-size: 1.25em;
  text-align: center;
  word-spacing: .1em;
  line-height: 1.5em;
  opacity: .9;
}

#p7
{
  padding: 50px 0 0;
  background: #fff;
}

.p7-title
{
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 37.5px;
}

.p7-text
{
    font-size: 1.25em;
  text-align: center;
}


/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      .p3-title{
          text-align: center;
        }

        .resp-center-list
        {
          text-align: center;
        }

        .p5-title{
          text-align: center;
          margin: .5em;
        }

        .p5-text{
          text-align: center;
        }

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .p2-content{
          transform: translate(0);
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }
